<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bw.mapper.MovieDao">
	<select id="getMovieList" resultType="com.bw.bean.Movie">
		select m.mid,m.mname,m.mauthor,m.mprice,m.mdate,m.mtime,c.cname,m.myear,a.aname,m.mzhuangtai from movie m,area a,classify c where m.aid=a.aid and m.cid=c.cid 
	<if test="yname!=null and yname!=''">
		and mname like '%${yname}%'
	</if>
	<if test="dopen!=null and dopen!='' and dclose !=null and dclose !='' ">
		and mdate between #{dopen} and #{dclose}
	</if>
	</select>
	
	<update id="getState" parameterType="int">
		update movie set mzhuangtai = 0 where mid = #{mid}
		
	</update>
	
	<update id="getState1" parameterType="int">
		update movie set mzhuangtai = 1 where mid = #{mid}
	</update>
	
	<delete id="deleteAll">
		delete from movie where mid in
		<foreach collection="ids" open="(" close=")" item="id" separator=",">
			#{id}
		</foreach>
		
	</delete>
</mapper>